/*
* @Author: Ye
* @Date:   2017-09-13 16:46:01
* @Last Modified by:   Ye
* @Last Modified time: 2017-09-17 14:50:31
*/
.footer{
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
   padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}