/*
* @Author: Ye
* @Date:   2017-09-13 15:37:46
* @Last Modified by:   Ye
* @Last Modified time: 2017-09-28 11:46:17
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}